* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

header {
    padding: 1rem;
}

/* DEBUG */
.debug header{
    background-color: lightblue;
    height: 70px;
    
}

.debug main {
    background-color: darkblue;
    height: 600px;
}

.debug .row {
    background-color: orange;
}
/* DEBUG */


.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col"] {
    padding: 0.5rem 0.5rem;
}


.col-1 {
    width:  calc((100%/12)*1);
}

.col-2 {
    width:  calc((100%/12)*2);
}

.col-3 {
    width:  calc((100%/12)*3); 
}

.col-4 {
    width:  calc((100%/12)*4);
}

.col-5 {
    width:  calc((100%/12)*5);
}

.col-6 {
    width:  calc((100%/12)*6);
}

.link{
    text-align: center;
}

.login {
    text-align: right;
}

.debug .banner {
    background-color: pink;
    height: 200px;
    width: 50%;
    margin: auto;
}
