* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.debug header, .debug footer {
    background-color: red;
    height: 100px;
}

.debug main {
    background-color: blue;
    height: 600px;
}